{
  "presets": ["@babel/preset-env"],

  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./",
          "@client": "./client",
          "@store": "./client/store",
          "@components": "./client/components",
          "@pages": "./client/pages",
          "@controllers": "./server/controllers",
          "@config": "./server/config",
          "@routes": "./server/routes",
          "@models": "./server/models"
        }
      }
    ]
  ]
}
