{
  "presets": [
    "@babel/preset-env"
  ],

  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@controllers": "./server/controllers",
        "@config": "./server/config",
        "@routes": "./server/routes"
      }
    }]
  ]
}
